.title {

  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.withdraw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.withdraw-input {
  border-width: 2px;
  width: 400px;
  height: 40px;

  border-radius: 7px;
  padding-left: 20px;
  background-color: transparent;
  display: block;
  outline: none;
}

.withdraw-btn {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-width: 0;
  border-radius: 30px;
  padding: 15px 30px;
  box-shadow: 1px 1px 98px #1c1b1b00;
  width: 400px;
  cursor: pointer;
}

.deposit-field-wrapper {
  margin-top: 5px;

}

#id_image {
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 140px 10px 10px;
  cursor: pointer;
  display: block;
  ;
}


.history {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.history-heading h2 {
  margin-top: 50px;
  margin-left: 50px;
}

.history-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 90%;
  border-collapse: collapse;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  margin-bottom: 50px;
}


th,
td {
  border-bottom: 1px solid rgb(0, 0, 0);
}

td:nth-child(1) {
  text-align: start;
  padding-left: 20px;
  height: 60px;
}

th:nth-child(1) {
  text-align: start;
  padding-left: 20px;
  height: 40px;
}

td:nth-child(2) {
  text-align: right;
  padding-right: 20px;
  height: 60px;
}

th:nth-child(2) {
  height: 20px;
  text-align: right;
  padding-right: 40px;
}


tr:hover {
  background-color: rgb(236, 236, 236);
}

.amount-withdraw {
  display: flex;
  gap: 20px;
}

.right-up {
  width: 25px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(202, 25, 25, 0.313);
}

.down-left {
  width: 25px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(23, 208, 20, 0.171);
}

.amount-withdraw p {
  font-weight: 600;
  font-size: 20px;
}

.amount-withdraw span {
  color: gray;
  font-size: small;
}

.withdraw-icon-wrapper {
  z-index: 22;
  position: relative;
}

.withdraw-icon {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 18px;
  padding: 3px;
  border-radius: 10px;
  background-color: white;
}

.deposit-icon {
  position: absolute;
  right: -11px;
  bottom: -5px;
  width: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
}

.pending-withdraw {
  text-transform: capitalize;
  padding: 5px 20px;
  background-color: rgb(255, 194, 9);
  border-radius: 20px;
  display: inline;
}

.reject-withdraw {
  text-transform: capitalize;
  padding: 5px 20px;
  background-color: rgb(250, 28, 28);
  border-radius: 20px;
  display: inline;
}

.approved-withdraw {
  text-transform: capitalize;
  padding: 5px 20px;

  background-color: rgba(44, 223, 24, 0.877);
  border-radius: 20px;
  display: inline;
}