.hero-wrapper {
  margin: auto;
  position: relative;

}

.hero-img {
  position: relative;
  background-image: url("/static/image/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
}

.hero-img::before {
  content: '';
  background: linear-gradient(135deg, rgba(11, 12, 38, 0.92) 0%, rgba(43, 57, 144, 0.75) 100%);
  position: absolute;
  width: 100%;
  height: 100%;

}


.hero-text-wrapper {
  position: absolute;
  width: 600px;
  left: 80px;
  top: 30px;
}

.hero-heading {
  color: #dadada;
  font-size: 70px;
  font-weight: 900;
  line-height: 90px;
}

@media(max-width:750px) {
  .hero-text-wrapper {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    padding-left: 30px;
    width: 100%;

  }

  .hero-img {
    min-height: 80vh;
  }

  .hero-heading {
    font-size: 50px;
    line-height: 60px;
  }

  .h-create-acc-btn {
    padding: 15px 15px !important;
  }

  .h-login-btn {
    padding: 11px 15px !important;
  }
}

.hero-txt-span {
  color: #fcaf19;
}

.hero-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
}

.h-create-acc-btn {
  padding: 15px 20px;
  background-color: #fcaf10;
  border-radius: 40px;

  border-radius: 40px;
  border-width: 2px;
  border-color: #fcaf10;
  transition: background-color 0.2s ease;

}

.h-btn-wrapper {
  display: flex;
  padding: 15px 0;
  margin-top: 20px;
  flex-wrap: nowrap;
  gap: 20px;
}

.h-create-acc-btn:hover {
  background-color: #fffffe;
  border-color: #fffffe;
}

.h-login-btn {
  background-color: #78777546;
  padding: 11px 40px;
  border-radius: 40px;
  border-width: 2px;
  border-color: #fffffe;
  transition: background-color 0.2s;
}


.h-login-btn:hover {
  background-color: #78777572;
}

.h-login-txt,
.h-create-txt {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: clamp(0.8rem, 3vw, 1rem);
  white-space: nowrap;
  text-decoration: none;
  align-items: center;
}

.h-login-txt {
  color: rgb(253, 253, 253);

}

.h-create-txt {
  color: rgb(0, 0, 0);

}