{% extends 'homepage/base.html'%}
{% load static%}

{% block content %}
<!-- HERO SECTION -->
<div class="hero-wrapper">

  <div class="hero-img">
    <div class="hero-text-wrapper">
      <h1 class="hero-heading">Your Goal, <span class="hero-txt-span">Expertly</span> Manage</h1>
      <p class="hero-text">Expert wealth management tailored to your goals. We turn financial planning into lasting
        prosperity.</p>

      <div class="h-btn-wrapper">
        <button class="h-create-acc-btn"><a class="h-create-txt" href="{%url 'create-account'%}">CREATE ACCOUNT <svg
              xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 -960 960 960" width="15px" fill="#000000">
              <path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z" />
            </svg></a></button>
        <button class="h-login-btn"><a class="h-login-txt " href="{%url 'login'%}">LOG IN <svg
              xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
              <path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z" />
            </svg></a></button>
      </div>
    </div>
  </div>
</div>
<!-- End of hero -->

<!-- body after hero  -->
<div class="main-content">

  <!-- why us section -->
  <div class="why-us">
    <div class="why-us-wrapper">
      <h1 class="why-us-header">
        Why Choose Us <span>?</span>
      </h1>
      <h4 class="why-us-sub-h">
        For Investors Seeking, Growth,Tranparecy,Flexibliy And Security
      </h4>
      <div class="why-us-content">
        <div class="card">
          <div class="card-img">
            <img src="{%static 'image/WhatsAp.jpeg'%}" alt="">
          </div>
          <div class="card-content">
            <h3 class="card-heading">
              Back By Security And Exchange Commision
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti earum autem labore esse cupiditate dolor
              molestias voluptatum corporis odit repellat accusantium sint, tenetur rerum, voluptatem accusamus culpa
              veniam impedit veritatis.
            </p>
            <div class="card-btn-wrapper">
              <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="{%static 'image/WhatsAp.jpeg'%}" alt="">
          </div>
          <div class="card-content">
            <h3 class="card-heading">
              Support Instant Withdrawal
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti earum autem labore esse cupiditate dolor
              molestias voluptatum corporis odit repellat accusantium sint, tenetur rerum, voluptatem accusamus culpa
              veniam impedit veritatis.
            </p>
            <div class="card-btn-wrapper">
              <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="{%static 'image/WhatsAp.jpeg'%}" alt="">
          </div>
          <div class="card-content">
            <h3 class="card-heading">
              Professioanl Team
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti earum autem labore esse cupiditate dolor
              molestias voluptatum corporis odit repellat accusantium sint, tenetur rerum, voluptatem accusamus culpa
              veniam impedit veritatis.
            </p>
            <div class="card-btn-wrapper">
              <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="{%static 'image/WhatsAp.jpeg'%}" alt="">
          </div>
          <div class="card-content">
            <h3 class="card-heading">
              Customer Satisfaction
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti earum autem labore esse cupiditate dolor
              molestias voluptatum corporis odit repellat accusantium sint, tenetur rerum, voluptatem accusamus culpa
              veniam impedit veritatis.
            </p>
            <div class="card-btn-wrapper">
              <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end of why section -->

  <!-- About us section -->
  <div class="about-us">
    <div class="about-us-wrapper">

      <div class="about-us-content">
        <h2 class="about-us-heading">
          About wallet
        </h2>
        <h4>
          Lorem ipsum dolor sit jdgd jdghdid idhdid jidghdd ikdhi kdjd
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore vero voluptatibus maxime iusto, beatae
          repellendus cumque corrupti dolorem adipisci voluptate delectus fuga nobis deserunt quia blanditiis.
          Voluptates, ratione velit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore vero voluptatibus maxime iusto, beatae
          repellendus cumque corrupti dolorem adipisci voluptate delectus fuga nobis deserunt quia blanditiis.
          Voluptates, ratione velit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore vero voluptatibus maxime iusto, beatae
          repellendus cumque corrupti dolorem adipisci voluptate delectus fuga nobis deserunt quia blanditiis.
          Voluptates, ratione velit.
        </p>
      </div>
      <div class="about-us-img">

      </div>
    </div>

    <div class="about-member">
      <div class="user-number user-details">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
          <path
            d="M234-336q-29.29 0-50.14-21.21-20.86-21.21-20.86-51T183.86-459q20.85-21 50.14-21 30.11 0 51.56 21.21 21.44 21.21 21.44 51T285.56-357q-21.45 21-51.56 21Zm491 0q-30.11 0-51.56-21.21-21.44-21.21-21.44-51T673.44-459q21.45-21 51.56-21 29.29 0 50.14 21.21 20.86 21.21 20.86 51T775.14-357q-20.85 21-50.14 21Zm-245-42q-38 0-65-27t-27-65q0-38 27-65t65-27q38 0 65 27t27 65q0 38-27 65t-65 27ZM288-121q14-66 67.3-110.5T480-276q71.4 0 124.7 44.5T672-121H288Zm-208 0q0-65 45.24-110T234-276q23 0 44.5 6t39.5 18q-27 25.93-45 59.47Q255-159 248-121H80Zm632 0q-7-38-25-71.53-18-33.54-45-59.47 18-11 39-17.5t44-6.5q63.94 0 109.47 45T880-121H712ZM76-500l-36-47 440-333 177 134v-96h102v173.41L920-547l-36 47-404-304L76-500Z" />
        </svg>
        <h3>450k <span>+</span></h3>
        <p>Members</p>
      </div>
      <div class="transactions user-details">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
          <path
            d="M212-241v-339h60v339h-60Zm242 0v-339h60v339h-60ZM80-121v-60h800v60H80Zm608-120v-339h60v339h-60ZM80-640v-53l400-228 400 228v53H80Zm134-60h532-532Zm0 0h532L480-852 214-700Z" />
        </svg>
        <h3>$800B <span>+</span></h3>
        <p>Transactions</p>
      </div>
      <div class="payout user-details">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
          <path
            d="M479.76-530Q438-530 409-559.24q-29-29.23-29-71Q380-672 409.24-701q29.23-29 71-29Q522-730 551-700.76q29 29.23 29 71Q580-588 550.76-559q-29.23 29-71 29ZM180-380q-24.75 0-42.37-17.63Q120-415.25 120-440v-380q0-24.75 17.63-42.38Q155.25-880 180-880h600q24.75 0 42.38 17.62Q840-844.75 840-820v380q0 24.75-17.62 42.37Q804.75-380 780-380H180Zm100-60h400q0-42 29-71t71-29v-180q-42 0-71-29t-29-71H280q0 42-29 71t-71 29v180q42 0 71 29t29 71Zm-100 0v-380 380ZM480-80l126-126-42-42-54 54v-126h-60v126l-54-54-42 42L480-80Z" />
        </svg>
        <h3>$500B <span>+</span></h3>
        <p>Payout</p>

      </div>

    </div>

  </div>

</div>



{%endblock%}