{% extends "users/base.html" %}
{% load static%}
{% load humanize%}


{% block extra_css%}
<title>
  Dashboard
</title>
{%endblock%}

{%block content%}

<div class="investment-wrapper">
  <div class="  invest">
    <p class="dash-label">Account Level:</p>
    <p class="acc-level">{{dashbord.level|capfirst}}</p>
  </div>
  <div class="invest">
    <p class="dash-label">Account Name:</p>
    <p class="acc-name ">{{dashbord.user.full_name|capfirst}}</p>
  </div>
  <div class="invest ">
    <p class="dash-label">invest:</p>
    <p class="acc-invest">${{dashbord.invest|intcomma}}</p>
  </div>
  <div class=" invest">
    <p class="dash-label">profit:</p>
    <p class="acc-profit">${{dashbord.profit|intcomma}}</p>
  </div>
  <div class=" invest">
    <p class="dash-label">Total Balance:</p>
    <p class="acc-total">${{dashbord.total_bal|intcomma}}</p>
  </div>
</div>

<div style="margin-top: 30px;" class="charts">
  <script type="module" src="https://widgets.tradingview-widget.com/w/en/tv-seasonal-chart.js"></script>
  <tv-seasonal-chart symbol="NASDAQ:TSLA" theme="light"></tv-seasonal-chart>
</div>

<div class="trading-view_wrapper">

  <div>
    <h2 class="trading-head">
      Forex Pair Traded By Bot
    </h2>
    <script type="module" src="https://widgets.tradingview-widget.com/w/en/tv-forex-table.js"></script>
    <tv-forex-table theme="light"></tv-forex-table>
  </div>

  <div>
    <h2 class="trading-head">
      Crypto Pair Mined By Bot
    </h2>

    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
        {
          "defaultColumn": "overview",
            "screener_type": "crypto_mkt",
              "displayCurrency": "USD",
                "colorTheme": "light",
                  "isTransparent": false,
                    "locale": "en",
                      "width": "100%",
                        "height": "400"
        }
      </script>
    </div>

  </div>

</div>
{% endblock %}