{% extends "users/base.html" %}
{% load static%}
{% load humanize %}


{% block extra_css%}
<title>
  Select Deposit Method
</title>
{%endblock%}

{%block content%}
<div class="form-wrapper">


  <form class="withdraw-form" method="POST">
    {%csrf_token%}
    <div class="deposit-text">
      <p>Select from payment options below</p>
      <span>Secure and safely deposit money into your account.</span>
    </div>
    <div class="deposit-field-wrapper">
      {{form.mode_of_payment.label_tag}}
      {{form.mode_of_payment}}
    </div>

    <button class="withdraw-btn" type="submit">
      Next
    </button>
  </form>
</div>


{% endblock %}