{% extends "users/base.html" %}
{% load static%}
{% load humanize %}

{% block extra_css%}
<title>
  Make Deposit
</title>
{%endblock%}

{%block content%}

<div>

  <div class="wallet-address_wrapper">
    <div class="deposit-text">
      <span>Your order has been placed suceccesfully. To complete your deposit, please send the exact amount you entered
        below to the <strong>{{deposit_details.network|upper}}</strong> address
      </span>
    </div>
    <img class="qr-code" src="{{deposit_details.qr_code.url}}">

    <div class="copy-and-wallet-address">
      <div>

        Network:
        <strong class="">
          {{deposit_details.network|upper}}
        </strong>
      </div>

      <div class="text-address-wrapper">
        <p class="wallet-address">
          {{deposit_details.wallet_address}}
        </p>
        <div style="width: 100%;">

          <button class="copy-btn">
            copy
          </button>
        </div>
      </div>

    </div>



  </div>

  <form style="padding-left:20px; padding-right: 20px;" class="withdraw-form" method="POST"
    enctype="multipart/form-data">
    {%csrf_token%}
    <div class="deposit-text">
      <span>
        Enter an amount you are willing to deposit and also upload the proof / screenshot of the deposit
      </span>
    </div>
    <div>

      {{form.amount.label_tag}}
      {{form.amount}}

    </div>
    <div class="deposit-field-wrapper">

      {{form.image.label_tag}}
      {{form.image}}

    </div>

    <button class="withdraw-btn" type="submit">
      Deposit
    </button>
    <div style="margin-top: 30px;" class="deposit-text">

      <div class="deposit-alert">
        <svg style="margin-top: 3px; min-width: 13px;" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
          fill="#dc3545" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
        </svg>
        <span style="color:#dc3545; text-align: left;">
          Be aware that this order will be cancelled, if you send any amount below the entered BTC amount.
        </span>
      </div>
      <div class="deposit-alert">
        <svg style="margin-top: 3px; min-width: 13px;" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
          fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
        </svg>
        <span style=" text-align: left;">
          Account will credited immediately your payment is confirmed
        </span>
      </div>
    </div>
  </form>
</div>

{% endblock %}