{% extends 'homepage/base.html'%}
{% load static%}

{% block extra_css%}
<title>
  Reset Link Sent
</title>
{%endblock%}

{% block content %}
<div class="form">
  <div class="form-wrapper">
    <div class="form-head">
      <h1>
        Password Reset Link Sent
      </h1>
    </div>
    <div>
      <div class="center">
        <h1></h1>

        <center>
          <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email, check inbox
            or spam. Please note
            that it <b>expires in 30 minutes</b>!
          </div>
        </center>

      </div>
      <p class="existed-acct">
        Do you want to <a href="{%url 'login'%}">Log in?</a>
      </p>
    </div>
  </div>
</div>

{%endblock%}