{% extends 'homepage/base.html'%}
{% load static%}

{% block content %}
<div class="form">
  <div class="form-wrapper">
    <div class="form-head">
      <h1>
        LOGIN INTO ACCOUNT
      </h1>
    </div>
    <div>
      <div class="center">
        <h1>Reset Sent</h1>

        <center>
          <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note
            that it <b>expires in 10 minutes</b>!</div>
          {{user.reset_id}}
        </center>

      </div>
      <p class="existed-acct">
        Do you want to <a href="{%url 'login'%}">Log in?</a>
      </p>
    </div>
  </div>
</div>

{%endblock%}