{% extends "users/base.html" %}
{% load static%}

{% block extra_css%}
<title>
  Password and Security</title>
{%endblock%}

{%block content%}
<div class="edit-form-wrapper">


  <form method="POST">
    <div class="deposit-text">
      <span>Change your account <strong>Password</strong>
      </span>
    </div>
    <div class="edit-form-wrap reset-form">
      {%csrf_token%}
      {{form}}
    </div>
    <div class="edit-submit-btn">
      <button type=" submit">Submit</button>
      <a href=" {%url 'dashboard'%}"> cancel</a>
    </div>
  </form>

</div>
</div>


{% endblock %}