{% extends "users/base.html" %}
{% load static%}
{% load humanize %}

{% block extra_css%}
<title>
  Withdrawal History
</title>
{%endblock%}


{%block content%}

<div class="history">

  <div class="history-list">

    {%if withdrawal_history%}
    <table>
      <tbody>

        <tr>
          <th>Amount withdraw</th>
          <th>Status</th>
        </tr>

        {%for withdraw in withdrawal_history %}
        <tr class="withdraw-tr">
          <td>
            <div class="amount-withdraw">
              <div class="withdraw-icon-wrapper">
                <!-- <img class="withdraw-icon" src="{% static 'image/withdraw.png'%}"> -->
                <img class="right-up" src="{% static 'image/right-up.png'%}">
              </div>
              <div>
                <p>${{withdraw.amount|intcomma}}</p>
                <span> {{withdraw.created_on}}</span>
              </div>
            </div>

          </td>
          {%if withdraw.status == "pending" %}
          <td>
            <p class="pending-withdraw">{{withdraw.status}}</p>
          </td>
          {%elif withdraw.status == 'approved' %}
          <td>
            <p class="approved-withdraw">{{withdraw.status}}</p>
          </td>
          {%elif withdraw.status == 'rejected' %}
          <td>
            <p class="reject-withdraw">{{withdraw.status}}</p>
          </td>
          {%endif%}

        </tr>

        {%endfor%}
        <tr>
          <th></th>
          <th></th>
        </tr>

    </table>

    </tbody>
    {%endif%}



  </div>
</div>
{% endblock %}