{% extends "users/base.html" %}
{% load static%}

{% block extra_css%}
<title>
  Withdrawal Password
</title>
{%endblock%}

{%block content%}
<div class="edit-form-wrapper">

  <form class="withdraw-pass-form" method="POST">
    <div class="deposit-text">
      <span>
        Input your withdrawal Password, if your don't have one, message the live support to generate
      </span>
    </div>
    <div class="withdraw_pass-wrapper">
      {%csrf_token%}
      {{form}}
    </div>
    <div class="edit-submit-btn">
      <button type=" submit">Submit</button>
      <a href=" {%url 'dashboard'%}"> cancel</a>
    </div>
  </form>

</div>

{% endblock %}