<div class="about-us">
  <div class="about-us-wrapper">

    <div class="about-us-content">
      <h2 class="about-us-heading">
        About {{app_config.app_name}}
      </h2>
      <h1>
        Who are we
      </h1>
      <p>
        We are a nextgeneration fintech company dedicated to democratizing access to advanced trading and mining
        technologies. By combining artificial intelligence, machine learning, and automated bot systems, we empower
        both retail and institutional users to trade smarter, mine efficiently, and optimize returns across multiple
        asset classes without being glued to screens 24/7. <br> <br>
        We are a team of finance professionals, technologists, and market strategists united by a simple mission: making
        sound investment opportunities accessible to everyone.


      </p>
    </div>
    <div class="about-us-img">

    </div>
  </div>



</div>