<div class="faq-wrapper">
  <div class="faq-inner-wrapper">
    <p style=" font-size: 20px; font-weight: 600 ; color: #fcaf19;">FAQ</p>
    <h1 style="text-align: center;">
      Frequently Asked Questions
    </h1>
    <div class="faq-list-wrapper">

      <div class="faq-row">
        <div class="faq-head-wrapper">
          <h2>
            What is the purpose of {{app_config.app_name}} ?
          </h2>
          <div class="open-faq">
          </div>
        </div>
        <div class="faq-highlight">
          <p>
            <strong>{{app_config.app_name}}</strong> is a cutting edge investment platform that uses artificial
            intelligence and
            advanced trading
            algorithms to generate consistent returns for our investors across forex,mining, crypto, stocks,
            commodities, and
            more.
          </p>
        </div>
      </div>

      <div class="faq-row">
        <div class="faq-head-wrapper">
          <h2>
            How do i create an account
          </h2>
          <div class="open-faq">
          </div>
        </div>
        <div class="faq-highlight">
          <p>
            <strong>
              <a style="color: rgb(11, 11, 113); text-decoration: none;" href="{% url 'create-account'%}">click
                here</a></strong> or goto the navigation
            menu and click on create account
            then filled the signup
            form and verify your email address, you should be ready to start investing
          </p>
        </div>
      </div>

      <div class="faq-row">
        <div class="faq-head-wrapper">
          <h2>
            How does the AI trading bot work?
          </h2>
          <div class="open-faq">
          </div>
        </div>
        <div class="faq-highlight">
          <p>
            Our AI powered trading bot uses advanced algorithms to analyze market data, identify trends, and execute
            trades automatically based on your selected strategy. It continuously monitors market conditions in real
            time, allowing it to react quickly to opportunities without requiring you to manually place every trade. You
            stay in control by choosing your trading type and risk preferences the bot simply handles the execution on
            your behalf. </p>
        </div>
      </div>

      <div class="faq-row">
        <div class="faq-head-wrapper">
          <h2>
            Is my money safe on this platform?
          </h2>
          <div class="open-faq">
          </div>
        </div>
        <div class="faq-highlight">
          <p>
            We take the security of your funds seriously. Our platform uses industry standard encryption and security
            protocols to protect your account and transactions. we're committed to maintaining a secure, transparent
            environment for managing your funds. </p>
        </div>
      </div>

      <div class="faq-row">
        <div class="faq-head-wrapper">
          <h2>
            Withdrawal methods?
          </h2>
          <div class="open-faq">
          </div>
        </div>
        <div class="faq-highlight">
          <p>
            Withdraw your funds through the payment method that works best for you. We support a wide range of options
            to make accessing your money simple and convenient: <br> <br>

            <strong>
              • Cryptocurrency
            </strong> <br>
            <strong>
              • Bank Transfer
            </strong> <br>
            <strong>
              • Cash App
            </strong> <br>
            <strong>
              • Bank Cards
            </strong>

          </p>
        </div>
      </div>

      <div class="faq-row">
        <div class="faq-head-wrapper">
          <h2>
            How long does withdrawal takes
          </h2>
          <div class="open-faq">
          </div>
        </div>
        <div class="faq-highlight">
          <p>
            Withdrawal processing times vary depending on your selected method. Crypto, and card withdrawals are
            typically processed within 1–15 minutes, while bank transfers may take approximately 10 minutes to 24 hours,
            depending on your bank's processing times
          </p>
        </div>
      </div>

    </div>
  </div>

</div>