<div class="ready-to-start-wrapper">
  <h1>
    Ready to Start Your Investment Journey?
  </h1>
  <h3>
    Join thousands of successful investors and start earning daily returns with Wallet.
  </h3>
  <div class="h-btn-wrapper">
    <button class="h-create-acc-btn"><a class="h-create-txt" href="{%url 'create-account'%}">CREATE ACCOUNT <svg
          xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 -960 960 960" width="15px" fill="#000000">
          <path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z" />
        </svg></a></button>
    <button class="h-login-btn"><a class="h-login-txt " href="{%url 'login'%}">LOG IN <svg
          xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
          <path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z" />
        </svg></a></button>
  </div>

</div>