<div class="why-us">
  <div class="why-us-wrapper">
    <h1 class="why-us-header">
      Why Choose Us <span>?</span>
    </h1>
    <h4 class="why-us-sub-h">
      For Investors Seeking, Growth,Tranparecy,Flexibliy And Security
    </h4>

    <div class="why-us-content">

      <div class="card">
        <div class="card-img secure-img">
        </div>
        <div class="card-content">
          <h3 class="card-heading">
            Secure & Protected Funds
          </h3>
          <p class="card-text">
            Your investments are safeguarded through industry-standard security measures and, where applicable,
            custodial partnerships with trusted financial institutions.
          </p>
          <div class="card-btn-wrapper">
            <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img cus_support">
        </div>
        <div class="card-content">
          <h3 class="card-heading">
            24/7 Customer support
          </h3>
          <p class="card-text">
            Our dedicated support team is available around the clock to answer questions, provide updates, and guide you
            through every step of your investment journey.
          </p>
          <div class="card-btn-wrapper">
            <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img ai-bot">
        </div>
        <div class="card-content">
          <h3 class="card-heading">
            AI-powered Trading Bot
          </h3>
          <p class="card-text">
            Our proprietary algorithm analyzes market trends and executes trades with speed and precision no human can
            match. By combining AI with real time data.
          </p>
          <div class="card-btn-wrapper">
            <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img instant-withdraw">
        </div>
        <div class="card-content">
          <h3 class="card-heading">
            Instant Withdrawal
          </h3>
          <p class="card-text">
            Access your funds when you need them. Our streamlined withdrawal system processes requests quickly, so
            you're never left waiting to move your money.

          </p>
          <div class="card-btn-wrapper">
            <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img proff-team">
        </div>
        <div class="card-content">
          <h3 class="card-heading">
            Professioanl Team
          </h3>
          <p class="card-text">
            Our team brings decades of combined experience in financial markets, portfolio management, and risk analysis
            — so your money is guided by seasoned professionals.
          </p>
          <div class="card-btn-wrapper">
            <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img transparecy">
        </div>
        <div class="card-content">
          <h3 class="card-heading">
            Transparency/ No Hidden Fee
          </h3>
          <p class="card-text">
            No hidden charges, no fine-print surprises. We believe you deserve full clarity on what you're paying and
            what you're getting in return.
          </p>
          <div class="card-btn-wrapper">
            <button class="join-btn"><a href="{%url 'create-account'%}">Join</a></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>